body{
	background-color:white;
	padding:0;
}
a{
	color:black;
}
a:hover,a:visited,a:focus{
	text-decoration:none;
}
table{
	border:0;
}
.color-rank-ir{
	color: black;
}
.color-rank-r{
	color: red;
}
.color-rank-o{
	color: orange;
}
.color-rank-y{
	color: yellow;
}
.color-rank-g{
	color: green;
}
.color-rank-b{
	color: blue;
}
.color-rank-i{
	color:  #4b0082;
}
.color-rank-v{
	color: violet;
}
.color-rank-uv{
	color: white;
}

#attributes_box_left label:first-child{
	margin-bottom: 38px;
}

#attributes_box_left input[name=strength]{
	margin-bottom: 38px;
}

.roll_one_attribute{
	cursor: pointer;
}

h1{
	background-color: black;
	color: #eee;
	padding: 1% 2%;
	margin: 0;
}

@page {
    size: A3;
    margin-left: -5cm;
    margin-right: -5cm;
    
    }

@media print{
	
	body{
		background: white;
		color:black;
		padding: 2% 5cm;
	}
	
	h1{
		background-color: black;
		color: #eee;
		padding: 1% 2%;
		margin: 0;
	}
	h1.secret-page {
		page-break-before: always;
	}
	#skills-box{
		page-break-after: always;
	}
	
	.roll_one_attribute{
		display: none;
	}
	
	#message_box{
		display: none;
	}
	#menu-bar{
		display: none;
	}
	input,select{
		border: none;
		border-bottom: 1px solid black;
		border-radius: 0;
	}
}