<!DOCTYPE html>
<html lang="en" ng-app="cthulhuApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Character Generator 0.1</title>

		<!--load Bootstrap css from CDN -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<!-- load app specific stylesheet -->
		<link rel="stylesheet" href="css/main.css">
		
	</head>
	<body ng-controller="CharSheetController">
		<div id="message_box" class="alert alert-info col-md-12 hide" role="alert"></div>
		<h1>Call Of Cthulhu Character Sheet</h1>
			<div class="col-md-6">
				| <a id="generate" href="#"> New Random Character <span class="glyphicon glyphicon-play-circle"></span></a>
				| <a id="save" href="#">Save <span class="glyphicon glyphicon-floppy-save"></span></a>
				| <a id="print" href="#">Print <span class="glyphicon glyphicon-print"></span></a>
				| <a id="reset" href="#">Reset <span class="glyphicon glyphicon-trash"></span></a> |
			</div>
			<fieldset id="attributes_box" class="col-md-12">
				<legend>Generic Information</legend>
				<div class="col-sm-4">
					<label for="name" class="control-label">Name</label>
					<input type="text" class="form-control input-sm"  name="name" min="1" max="20" ng-model="generic.name" />
				</div>
				<div class="col-sm-4">
					<label for="occupation" class="control-label">Occupation</label>
					<input type="text" class="form-control input-sm"  name="occupation" min="1" max="20" ng-model="generic.occupation" />
				</div>
				<div class="col-sm-4">
					<label for="sex" class="ccontrol-label">Sex</label>
					<input type="text" class="form-control input-sm"  name="sex" min="1" max="20" ng-model="generic.sex" />
				</div>
				<div class="col-sm-4">
					<label for="age" class="control-label">Age</label>
					<input type="text" class="form-control input-sm"  name="age" min="1" max="3" ng-model="generic.age" />
				</div>
				<div class="col-sm-4">
					<label for="nationality" class="control-label">Nationality</label>
					<input type="text" class="form-control input-sm"  name="nationality" min="1" max="20" ng-model="generic.nationality" />
				</div>
				<div class="col-sm-4">
					<label for="residence" class="control-label">Residence</label>
					<input type="text" class="form-control input-sm"  name="residence" min="1" max="20" ng-model="generic.residence" />
				</div>
			</fieldset>

			<fieldset id="statistic_box" class="col-md-12">
				<legend>Statistics</legend>
				<div class="col-sm-2">
					<label for="str" class="control-label">STR</label>
					<input type="text" class="form-control input-sm"  name="str" min="1" max="3" ng-model="statistic.str" />
				</div>
				<div class="col-sm-2">
					<label for="dex" class="control-label">DEX</label>
					<input type="text" class="form-control input-sm"  name="dex" min="1" max="3" ng-model="statistic.dex" />
				</div>
				<div class="col-sm-2">
					<label for="int" class="control-label">INT</label>
					<input type="text" class="form-control input-sm"  name="int" min="1" max="3" ng-model="statistic.int" />
				</div>
				<div class="col-sm-2">
					<label for="con" class="control-label">CON</label>
					<input type="text" class="form-control input-sm"  name="con" min="1" max="3" ng-model="statistic.con" />
				</div>
				<div class="col-sm-2">
					<label for="app" class="control-label">APP</label>
					<input type="text" class="form-control input-sm"  name="app" min="1" max="3" ng-model="statistic.app" />
				</div>
				<div class="col-sm-2">
					<label for="pow" class="control-label">POW</label>
					<input type="text" class="form-control input-sm"  name="pow" min="1" max="3" ng-model="statistic.pow" />
				</div>
				<div class="col-sm-2">
					<label for="siz" class="control-label">SIZ</label>
					<input type="text" class="form-control input-sm"  name="siz" min="1" max="3" ng-model="statistic.siz" />
				</div>
				<div class="col-sm-2">
					<label for="san" class="control-label">SAN</label>
					<input type="text" class="form-control input-sm"  name="san" min="1" max="3" ng-model="statistic.san" />
				</div>
				<div class="col-sm-2">
					<label for="edu" class="control-label">EDU</label>
					<input type="text" class="form-control input-sm"  name="edu" min="1" max="3" ng-model="statistic.edu" />
				</div>
				<div class="col-sm-2">
					<label for="idea" class="control-label">Idea</label>
					<input type="text" class="form-control input-sm"  name="idea" min="1" max="3" ng-model="statistic.idea" />
				</div>
				<div class="col-sm-2">
					<label for="luck" class="control-label">Luck</label>
					<input type="text" class="form-control input-sm"  name="luck" min="1" max="3" ng-model="statistic.luck" />
				</div>
				<div class="col-sm-2">
					<label for="know" class="control-label">Know</label>
					<input type="text" class="form-control input-sm"  name="know" min="1" max="3" ng-model="statistic.know" />
				</div>
			</fieldset>

			<a ng-click="onDebugger()" class='btn btn-success'>Confirm dataset</a>

		<!-- load JS file after the DOM loaded to enable progessive rendering -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>	